<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg);">
        <div class="carousel-container">
          <div class="carousel-content animate__animated animate__fadeInUp">
            <h2>Welcome to BOOK<span style="color: #1bbd36;">WORMS</span></h2>
            <p>BookWorms is like a trade window of novels especially for Bibliophile.
              Some of the novels are now very rare and are neither being published nor available in shops or at any
              website.
              On this site People can post their novels collection on our website, so that people who need those novels,
              can get it from our website.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Hero -->



<main id="main">

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-md-4 mt-5" *ngFor="let request of requestList">
          <div class="card">
            <div class="card-body">
              <div>
                <img class="avatar" [src]="url+request.user.avatar" alt="">
                <br><br><br>
                <B> {{request.user.fullname}}</B>
              </div>

              <h4 class="nt">{{request.title}}</h4>
              <p class="text-muted">{{request.content.substring(0, 100)}} ...</p>
            </div>
            <div class="d-grid gap-2 d-md-flex">
              <button type="button" class="btn btn-warning px-3" (click)="open(request)"><i
                  class="fas fa-regular fa-expand" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-warning px-3" (click)="repondToUser(request.user._id)"><i
                  class="fas fa-paper-plane" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <button class="btn btn-danger" [routerLink]="['/app/listrequest']" routerLinkActive="router-link-active">
        View More</button>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-3 mt-5" *ngFor="let novel of novelList">
          <div class="card">
              <div class="card-img" [routerLink]="['/app/noveldetails', novel._id]"
                routerLinkActive="router-link-active" [ngStyle]="{backgroundImage: 'url('+url+novel.avatar+')'}">
              </div>


              <div class="card-body" [routerLink]="['/app/noveldetails', novel._id]"
                routerLinkActive="router-link-active">
                <h4 class="nt">{{novel.title}}</h4>
                <p class="text-muted">{{novel.genre}}</p>
                <br>
                <div>
                  <img class="avatar1" [src]="url+novel.user.avatar" alt="">
                  <B> {{novel.user.fullname}}</B>
                </div>

                <!-- <div class="avatar">
                  <nb-user size="medium" [name]="novel.user.fullname" [picture]="url+novel.user.avatar">
                  </nb-user>
                </div> -->
                <p class="price">{{novel.price | currency:'INR'}}</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->
